<center><p class = "textcolor1">The creator of this page is J70N6.<br>J70N6 is currently a student in the Mined Minds curriculum<br>and this page was created as a tool to lean both front-end and back-end coding.</p></center>

<img class="sizeimage" src="/img/mm.jpg">