<br>
<center><p class = "textcolor1"><a href="mailto:eldertong@gmail.com?Subject=Hello%20J70N6" target="_top">Send J70N6 an E-mail</a></center>


<img class="sizeimage" src="/img/postman.jpg">

<center><p class = "textcolor1">In a perfect world, our home would be within walking distance of my wife's favorite resturaunt!</p></center>
<center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75.49216021317989!2d-81.58087758910838!3d28.420785935338838!2m3!1f0!2f41.76129597742939!3f0!3m2!1i1024!2i768!4f20!3m3!1m2!1s0x88e7809889b675c7%3A0x49b5c94af915901!2sBe+Our+Guest+Restaurant!5e1!3m2!1sen!2sus!4v1476135629362" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></center>
