<img class="sizeimage" src="/img/background.jpg">

<center><p class="emphasis">Welcome to the JET ISBN validator.
<br>
I can validate both 10 and 13 digit ISBN numbers.
<br>
Do you happen to have a specific ISBN you would like me to validate?
<br>
If you do not have one at your finger tips, run along and grab a book.
<br>
The ISBN is usally on the back cover of the book.
<br>
Please enter the ISBN number below exactly as it is on the book.</p>
<form method="post" action="/name" name="name_form" onsubmit = "return validateForm('name_form', 'input_name')">
    <input type="text" name="input_name">
    <input type="submit"></center>
</form>
<p id="error" ></p>
